extends layout

block content
  if (!user)
    // Display login and register links if the user is not logged in
    a(href="/login") Login
    br
    a(href="/register") Register

  if (user)
    // Display user information and options if a user is logged in
    p You are currently logged in as #{user.username}
    a(href="/scoops") Try some Scoops  
    br
    a(href="/logout") Logout
